{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.name }} - 商品詳細{% endblock %}
{% block content %}
<div class="container">
    <h1>商品詳細</h1>
    
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    {% if object.img and object.img.url %}
                        <img src="{{ object.img.url }}" class="img-fluid" style="max-width: 300px; height: auto;">
                    {% else %}
                        <img src="{% static 'images/noImage.png' %}" class="img-fluid" style="max-width: 300px; height: auto;">
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ object.name }}</h5>
                    <div class="row mb-3">
                        <div class="col-sm-3"><strong>価格:</strong></div>
                        <div class="col-sm-9">{{ object.price }} 円</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3"><strong>カテゴリ:</strong></div>
                        <div class="col-sm-9">{{ object.category.name }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3"><strong>商品ID:</strong></div>
                        <div class="col-sm-9">{{ object.pk }}</div>
                    </div>
                    
                    {% if object.description %}
                        <div class="row mb-3">
                            <div class="col-sm-3"><strong>詳細説明:</strong></div>
                            <div class="col-sm-9">
                                <div class="border rounded p-3 bg-light">
                                    {{ object.description|linebreaks }}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row mb-3">
                            <div class="col-sm-3"><strong>詳細説明:</strong></div>
                            <div class="col-sm-9">
                                <div class="text-muted">詳細説明はありません</div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-4 text-center">
        <a href="{% url 'edit' pk=object.pk %}" class="btn btn-primary">編集</a>
        <a href="{% url 'delete' pk=object.pk %}" class="btn btn-danger">削除</a>
        <a href="{% url 'list' %}" class="btn btn-secondary">一覧に戻る</a>
    </div>
</div>
{% endblock %}
